[Unit]
Description=systemd service file for in memory s3 server.

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
Type=simple
ExecStart=$(REPLICATION_VENV)/python3 $(S3_REPLICATION_COMMON_TEST_DIR)/s3_in_memory.py
