[Unit]
Description=s3replicationmanager service file to start a daemon instance.

[Install]
WantedBy=multi-user.target

[Service]
User=root
Restart=on-failure
Type=simple
ExecStart=/usr/bin/python3 -m s3replicationmanager
WorkingDirectory=/root/cortx-multisite/s3/replication/manager/src
Environment="PYTHONPATH=/root/cortx-multisite/s3/replication/common/src"
