[Unit]
Description=systemd service file for s3replicationmanager.

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
Type=simple
ExecStart=$(REPLICATION_VENV)/python3 -m s3replicationmanager
